
body {
  background-image: url('../img/background-light-sand.jpg');  
}

#canvas {
    position: absolute; 
    background-color: antiquewhite;
    // top: 10px; 
    left: 100px; 
    // width: 800px;
    // height: 800px;
    // border: 2px solid;
    touch-action: none;
}

#canvas:not(:fullscreen){
    display: none;
}


