
body {
  background-image: url('../img/background-light-sand.jpg');  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.toolbar {
    text-align: center;
    width: 100%;
}

#drawApp {
    position: absolute; 
    // top: 10px; 
    // left: 100px; 
    // width: 800px;
    // height: 800px;
    // border: 2px solid;
    touch-action: none;
    background-image: url('../img/background-turquoise.jpg');
}
#canvas {
    touch-action: none;

}

#drawApp:not(:fullscreen){
    display: none;
    position: absolute;
}

#drawButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
}



  #appBtn {
    padding: 10px;
    border: 4px grey solid;
    border-radius: 20px;
    background-image: url("../img/background-turquoise.jpg");
  }