
body {
  background-image: url('../img/background-light-sand.jpg');  
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.toolbar {
    text-align: center;
    width: 100%;
}

#drawApp {
    position: absolute; 
    // top: 10px; 
    // left: 100px; 
    // width: 800px;
    // height: 800px;
    // border: 2px solid;
    touch-action: none;
    background-image: url('../img/background-turquoise.jpg');
}
#canvas {
    touch-action: none;

}

#drawApp:not(:fullscreen){
    display: none;
    position: absolute;
}

#drawButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
}



  #appBtn {
    padding: 10px;
    border: 4px grey solid;
    border-radius: 20px;
    background-image: url("../img/background-turquoise.jpg");
  }

  
  #canvasStack {
    position: relative;
    width: 100vw;
    height: 100vh;
    // border: 2px solid black;
  }

  .layer {
    position: absolute; left: 0; top: 0;
    opacity: 0.8;
  }

  // #appContainer{
  //   display: grid;
  //   grid-template-columns: auto auto;
  // }
  #toolbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    bottom: 1em;
    left: 1em;
  }

  .hidden {
    display: none !important;
  }

  .loadOptionsContainer{
    display: flex;
    align-items:center;
  }

  .loadOptionsList{
    display: flex;
    list-style-type: none;
    // flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .loadOptionsItem {
    background-color: lightgrey;
    // border: 1px solid black;
    border-radius: 10px;
    // margin: 1px;
    // padding:0.2em;
    opacity: 0.9;
  }

  .layerButtons {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    padding: 0.5em;
  }

  

  .layerButtons img {
    width: 3em;
    opacity: 80%;
  }